lex.yy.c
pascal
pascal.c
pascal.dSYM
pascal.tab.c
pascal.tab.h
*.swp
src/*.o
src/parser.cpp
src/parser.hpp
src/tokenizer.*
projeto_inicial
mepa
.vscode
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
